

<div class='row'>
    <div class='col-md-6 col-md-offset-3'>
        <h1>Editing Book</h1>
        
        <% if @book && @book.errors.any? %>
        <div id="error_explanation">
            <h3>
                <%= pluralize(@book.errors.count, "error") %> prohibited this obj from being saved:
            </h3>
            
            <ul>
                <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
        <% end %>
        
        <%= form_with url:book_path(@book.id), model:@book, class:"edit_book", local:true do |f| %>
        
            <div class="field row">
                <%= f.label :title, "Title" %>
                <%= f.text_field :title, class:"col-xs-12" %>
            </div>
            
            <div class="field row">
                <%= f.label :body, "Opinion" %>
                <%= f.text_area :body, class:"col-xs-12" %>
            </div>
            
            <div class="actions row">
                <%= f.submit "Update Book", class:"btn btn-primary col-xs-12" %>
            </div>
            
        <% end %>
        
		<%= link_to("Show", book_path(@book.id), class: "to") %> |
		<%= link_to("Back", books_path, class: "to") %>
    </div>
    <div class='col-md-3'></div>
</div>